@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

ul {
  list-style: none;
}

li {
  padding: 12px;
}

a, a:visited {
  text-decoration: none;
  color: #41B6E6;
}

a:hover {
  color: #DB3EB1;
}

.navbar {
  background: black;
  border-bottom: 5px solid #DB3EB1;
  font-family: 'Oswald', sans-serif;
}

.home {
  /* background-image: url(./img/wallpaper2.png); */
  /* background-image: url(./img/miami.png); */
  background-image: url(./img/nature.png);
  width: 1440px;
  height: 650px;
  display: flex;
  padding-top: 200px
}

.profilePic {
  height: 250px;
  border: 2px solid #41B6E6;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 130px;
}

.profileDiv {
  /* flex: 1; */
  width: 340px;
}

.introDiv {
  width: 1000px;
  text-align: center;
  color: white;
  padding-top: 80px;
  font-family: 'Oswald', sans-serif;
}

.intro {
  text-shadow: 3px 3px 5px #DB3EB1;
}

.Skills {
  color: white;
  text-shadow: 3px 3px 5px #41B6E6;
  height: 650px;
  padding-top: 15px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.frontendSkills, .backendSkills, .otherSkills {
  justify-content: center;
  text-align: center;
  width: 230px;
}
