@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a, a:visited {
  text-decoration: none;
  color: #41B6E6;
}

a:hover {
  color: #DB3EB1;
}

.navbar {
  background: black;
  border-bottom: 5px solid#DB3EB1;
}

.home {
  background-image: url(./img/wallpaper2.png);
  /* background-image: url(./img/miami.png); */
  width: 1440px;
  height: 650px;
  display: flex;
  padding-top: 200px
}

.profilePic {
  height: 250px;
  border: 2px solid #41B6E6;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 130px;
}

.profileDiv {
  /* flex: 1; */
  width: 340px;
}

.introDiv {
  width: 1000px;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.intro {
  text-shadow: 2px 2px 4px#41B6E6;
}